body{
	background-color:#EEEEEE;
}


h1{
	font-family: "Comic Sans MS";
	font-size: 250%;
	color:#333399;
	text-align: center;
}

h5{
	font-family:Verdana;
	font-style: oblique;
	font-size:40%;
	color:#999999;
}

h2{
	font-family:"Comic Sans MS";
	font-size: 150%;
	color:#666699;
	text-align: left;
}

table{
	font-family:Verdana;
	color:#666666;
	border-collapse: collapse;
    border-spacing: 4px;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

details{
	font-family: Verdana;
	color:#666666;
	font-style: italic;
}

summary{
	font-style: normal;
}


p{
	font-family: cursive;
	color:#666666;
	font-style: italic;
}

nav{
	font-family: Verdana;
	color:#666666;
}

small{
	font-family:cursive;
}
